<html>
<head><script type="text/javascript" src="resources/com.koodaripalvelut.common.wicket.component.fullcalendar.FullCalendar/jquery/jquery.js"></script>
<script type="text/javascript" src="resources/com.koodaripalvelut.common.wicket.component.fullcalendar.FullCalendar/jquery/jquery-ui-custom.js"></script>
<script type="text/javascript" src="resources/com.koodaripalvelut.common.wicket.component.fullcalendar.FullCalendar/fullcalendar.js"></script>
<link rel="stylesheet" type="text/css" href="resources/com.koodaripalvelut.common.wicket.component.fullcalendar.FullCalendar/fullcalendar.css" />
<script type="text/javascript" src="resources/org.apache.wicket.markup.html.WicketEventReference/wicket-event.js"></script>
<script type="text/javascript" ><!--/*--><![CDATA[/*><!--*/
Wicket.Event.add(window, "domready", function(event) { var Feedback = new (function() {
  function success(data) {
    var xml = data;
    if (typeof xml == "string") {
      xml = new ActiveXObject("Microsoft.XMLDOM");
      xml.async = false;
      xml.loadXML(data);
    }
    (new Wicket.Ajax.Call("?wicket:interface=:0:calendar::IActivePageBehaviorListener:1:&wicket:ignoreIfNotActive=true")).loadedCallback(xml);
  };
  
  function call(data, revertFunc) {
    $.ajax({
      url : "?wicket:interface=:0:calendar::IActivePageBehaviorListener:1:&wicket:ignoreIfNotActive=true", type: 'POST', contentType: 'application/json;charset=UTF-8'
     ,dataType: (($.browser.msie) ? "text" : "xml"), data : data 
     ,success : success, error : revertFunc
    });
  };
  
  this.forSelect = function(startDate, endDate, allDay, jsEvent, view) {
    call({"feedbackFor" : "select", "startDate" : startDate, "endDate" : endDate, 
      "allDay" : allDay, "jsEvent" : jsEvent, "view" : view}, null);
  };
  
  this.forUnSelect = function(view, jsEvent) {
    call({"feedbackFor" : "unselect", "jsEvent" : jsEvent, "view" : view}, null);
  };
  
  this.forDayClick = function(date, allDay, jsEvent, view) {
    call({"feedbackFor" : "dayClick", "date" : date, "allDay" : allDay, "jsEvent" : jsEvent, "view" : view}, null);
  };
  
  this.forEvent = function (eventName) {
    return function(event, jsEvent, ui, view) {
      if (arguments.length == 3)
        call({"feedbackFor" : eventName, "event" : event, "jsEvent" : jsEvent, "view" : ui}, null);
      else
        call({"feedbackFor" : eventName, "event" : event, "jsEvent" : jsEvent, "ui" : ui, "view" : view}, null);
    };
  };
  
  this.forEventAlter = function (eventName) {
    return function(event, dayDelta, minuteDelta, allDay, revertFunc, jsEvent, ui, view) {
      if (arguments.length == 8)
        call({"feedbackFor" : eventName, "event" : event, 
          "dayDelta" : dayDelta, "minuteDelta" : minuteDelta, "allDay" : allDay, 
          "jsEvent" : jsEvent, "ui" : ui, "view" : view}, revertFunc);
      else
        call({"feedbackFor" : eventName, "event" : event, 
          "dayDelta" : dayDelta, "minuteDelta" : minuteDelta, 
          "jsEvent" : revertFunc, "ui" : jsEvent, "view" : ui}, allDay);
    };
  };
});

$('#calendar1').fullCalendar({
  editable: true
 ,defaultView: "month"
 ,header: {"left":"title","center":"","right":"month,basicWeek,basicDay prev,next"}
 ,weekends: true
 ,events: "?wicket:interface=:0:calendar::IActivePageBehaviorListener:0:&wicket:ignoreIfNotActive=true"
 ,dayClick: Feedback.forDayClick ,eventClick : Feedback.forEvent('eventClick')  ,eventMouseOver : Feedback.forEvent('mouseOver') ,eventMouseOut : Feedback.forEvent('mouseOut')
 
});
;});
/*-->]]>*/</script>

<script type="text/javascript" src="resources/org.apache.wicket.ajax.WicketAjaxReference/wicket-ajax.js"></script>
<script type="text/javascript" src="resources/org.apache.wicket.ajax.AbstractDefaultAjaxBehavior/wicket-ajax-debug.js"></script>
<script type="text/javascript" id="wicket-ajax-debug-enable"><!--/*--><![CDATA[/*><!--*/
wicketAjaxDebugEnable=true;
/*-->]]>*/</script>

</head>
<body><div wicket:id="calendar" id="calendar1"></div></body>
</html>